.bg-cinza{
    background-color: rgb(70, 70, 70);
}
.letra{
   margin-left: 150px;
}
.text{
    margin-left: 800px;
    margin-top: -175px;
}
.bg-green{
    background-color: rgb(42, 82, 2);
}

.final{
    margin-left: 720px;
    margin-top: -170px;
}